<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FIND ALBUM ART</title>
</head>
<body>
  <p>Found track <%= @echonest_identified2.title %> by <%= @echonest_identified2.artist_name %>, with album art <img src="<%= @lastfm_image %>"/>.
</body>
</html>