<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FIND ALBUM ART</title>
</head>
<body>
  <p>Album art for song <%= @echonest_track.title %> by artist <%= @echonest_track.artist %>:</p>
  <img src="<%= @lastfm_image %>"/>
</body>
</html>